.right{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    color:black;
    align-items: center;
    font-size: 20px;
    
    box-shadow: 0px 10px 5px -5px rgba(0,0,0,0.5);
    z-index: 1;
    position:fixed;
    background-color: white;
    width:100%;
}
.list{
    display: flex;
    flex-direction:row ;
    padding: 10px;
}

.box{
    background-color: black;
    display: inline;
    padding: 10px;
}
.con{
    position: relative;
    display: flex;
}
.con img{
    height: auto;
    max-width: 100%;
     }
 
.dap{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    color: white;
}
.img{
    margin: auto;
}
*{
    margin: 0;
}
.right p:hover{
    background-color: rgba(128, 128, 128, 0.37);   
}
.right p{
    padding-right:12px;
    padding-left: 8px;
}
@media screen and (max-width:600px){
    .list{
         display: none;
    }
    .arc{
        display: none;
    }
    
}
h4{
    border-bottom: 1px solid grey;
    padding-top: 60px;
    padding-bottom: 20px;
    
}
.images{
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.pro{
    padding-left: 30px;
    padding-right: 30px;
}
.images img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    
}
.img1{
    width: 24%;
}
@media screen and (max-width:992px){
    .img1{
    width: 48%;
}
}
@media screen and (max-width:600px){
    .img1{
    width: 92%;
}
}
.img1{
    position: relative;
    
}
.images p{
    position: absolute;
    
    background-color: black;
    color: white;
    padding: 10px;
}



