.right{
    display: flex;
    color:black;
    align-items: center;
    font-size: 20px;
    padding: 15px;
    box-shadow: 0px 10px 5px -5px rgba(0,0,0,0.5);
    z-index: 1;
    position: relative;
    

}
.one{
    width:70%;
}
.box{
    background-color: black;
    display: inline;
    padding: 10px;
}
.con{
    position: relative;
}
.con img{
    height: auto;
    max-width: 100%;
     }
 
.dap{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    color: white;
}
*{
    margin: 0;
}
.right p:hover{
    background-color: rgba(128, 128, 128, 0.37);   
}
.right p{
    padding-right:12px;
    padding-left: 8px;
}
@media screen and (max-width:1264px){
    .one{
        width: 68%;
}
}
@media screen and (max-width:1187px){
    .one{
        width: 67%;
}
}
@media screen and (max-width:1152px){
    .one{
        width: 66%;
}
}
@media screen and (max-width:1120px){
    .one{
        width: 65%;
}
}
@media screen and (max-width:1088px){
    .one{
        width: 64%;
}
}
@media screen and (max-width:1058px){
    .one{
        width: 63%;
}
}
@media screen and (max-width:1031px){
    .one{
        width: 62%;
}
}
@media screen and (max-width:1004px){
    .one{
        width: 61%;
}
}

